<div class="column is-half">
  <div class="card">
    <a href="/continent/{{id}}">
      <header class="continent-name">{{name}}</header>
      <img src="/images/{{filename}}" alt="">
    </a>
  </div>
</div>