{{!-- <div class="column is-half">
  <div class="card">
    <a href="/continent/{{contient.id}}">
      <header class="continent-name">{{continent.name}}</header>
      <img src="/images/{{continent.filename}}" alt="">
    </a>
  </div>
</div> --}}