<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <div class="columns">
    <div class="column three-fifths">
      <header>
        <h1 class="web-header title-is-1">Welcome to the Travel Buddy!</h1>
    </div>
    <nav>
      {{#if loggedIn}}
      {{!-- <section> --}}
        <div class="column float-right">
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-end">
              <a class="navbar-item" href="/">Home</a>
              <a class="navbar-item" href="/controllers/home-routes.js">
                Add new attraction
              </a>
              <button class="button is-link">Logout</button>
            </div>
          </nav>
        </div>

        </header>
  </div>
  {{else}}
  <a href="/login">Login</a>
  {{/if}}
  </nav>
  <main>
    <div class="columns">
      <div class="column one-fifth">
        <figure class="image is-3by1">
          <img src="/images/backgrounds/countries.jpg" alt="World Map">
        </figure>
      </div>
      <div class="continents column four-fifths">
        {{#if loggedIn}}
        {{{body}}}
        {{/if}}
      </div>
  </main>
  </div>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>