<div class="select">
  <select>
    <option>Select city</option>
{{#each cities as |city|}}
    <option class="city-name">{{name}}</option>
    {{/each}}
  </select>
</div>

<div class="select">
  <select>
    <option>Attraction Type</option>
{{#each attractions as |attraction|}}
    <option class="location-type">{{location_type}}</option>
    {{/each}}
  </select>
</div>
<input class="input" type="link" placeholder="link input">
<textarea class="textarea description" placeholder="Description of attraction"></textarea>
<button class="button" type="submit">Add New Attraction</button>
<script src="../public/js/attractionInput.js"></script>

