<div class="select">
  <select>
    <option>Select city</option>
{{#each cities as |city|}}
    <option class="city-name">{{name}}</option>
  </select>
</div>
{{/each}}
<div class="select">
  <select>
    <option>Attraction Type</option>
{{#each attractions as |attraction|}}
    <option class="location-type">{{location_type}}</option>
  </select>
</div>
{{/each}}
<input class="input" type="link" placeholder="link input">
<textarea class="textarea" placeholder="Description of attraction"></textarea>
<script src="../public/js/attractionInput.js"></script>

