<div class="column is-half">
    <div class="card"></div>
    <h1>Cities</h1>
    {{#each allCities as |city|}}
    <a href="/city/{{id}}">
        <li>{{name}}</li>
    </a>

    {{/each}}
</div>
</div>