{{#each cities as |city|}}
<div class="column is-half">
  <div class="card">
    <a href="/city/{{id}}">
      <header>{{name}}</header>
      <img src="/images/{{filename}}" alt="">
    </a>
  </div>
</div>
{}