<section>
<h3 class="continent-name">{{continent.name}}</h3>
<div class="column is-half">
 <section class="flex-row justify-center">
    {{#each continent.countries as |country|}}
    {{> country}}
    {{/each}}
  </section>
  </div>
</div>
</section>