{{!-- <section class="container">
    {{#if loggedIn}}
    <section class="flex-row justify-center">
        <div class="card">
            {{#each continents.name}}
            <a> class="continent-name">{{this}}</a>
              {{/each}}
        </div>
    </section>
  
    {{else}}
    <a href="/login">You must login to view this page!</a>
</section>
{{/if}} --}}