<div class="card">
  <div class="card-content">
<h3 class="card-name">{{continents.name}}</h3>
 <section class="flex-row justify-center">
    {{#each continents.countries as |country|}}
    {{> country}}
    {{/each}}
  </section>
  </div>
</div>
