{{#each countries as |country|}}
<div class="column is-half">
  <div class="card">
    <a href="/country/{{id}}">
      <header>{{name}}</header>
      <img src="/images/{{filename}}" alt="">
    </a>
  </div>
</div>
{{/each}}