<div class="card">
    <div class="card-content">
      <h1 class="card-name"> Choose the continent to wish to explore!</h1>
      {{#each allContinents as |continent|}}
      <a href="/continent/{{id}}">
        <header class="continent-name">{{name}}</header>
        <img src="/images/continents/{{filename}}" alt="{{name}}"style="width:150px;height:150px;">
      </a>
      {{/each}}
  </div>
</div>